<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>我的建议</title>
</head>

<body>
  <div class="content">
      {{{header}}}
      {{{mainnav}}}
      <div class="content80 clearfix">
        {{{infolist}}}
        <div class="width15 height100"></div>
        <div class="info_detail width85">
            <h1>关于张小墨申请粮食收购资格许可</h1>
            <ul></ul>
        </div>
      </div>
    {{{footer}}}
  </div>
  <div class="wrap">
    <div class="carousel_wrap" id="carousel_wrap"></div>
 </div>
</body>

</html>