@import './message.scss';

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, .2);
  margin: 16px 28px 16px 0;
  float: left;
}

.ant-layout-header {
  height: 65px;
  line-height: 65px;
}

.ant-layout {
  height: calc(100vh - 65px);
}

.ant-layout-sider-children .ant-menu-inline {
  border-right: none;
}

.ant-divider,
.ant-divider-vertical {
  margin: 0 5px;
}

.checkbox {

  .ant-checkbox-group {
    margin: 20px 0;
  }
}

.App-contentMain {
  overflow: auto;
}



.rdw-editor-wrapper {
  height: 50vh;
  margin-bottom: 20px;

  .rdw-editor-main {
    padding: 0 10px;
    border: 1px solid #000;
    height: calc(100% - 75px);
  }
}
