/*
 * @Author: yanghognxuan
 * @Date: 2018-12-10 11:26:19
 * @LastEditors: 杨宏旋
 * @LastEditTime: 2019-03-06 16:21:54
 * @Description: 重置浏览器
 */
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
input,
button,
span,
div {
  -webkit-tap-highlight-color: rgba(219, 219, 219, 0);
  outline: none;
  border: none;
}

#app>div:not(.qrcode) {
  width: 100vw;
}
