@charset "UTF-8";
/* footer公共样式*/
.bg {
  margin-bottom: 0px;
  padding: 25px 0 35px;
  background: #f8f8f8;
  position: absolute;
  bottom: -142px;
  width: 100%;
}

.bg p {
  text-align: center;
  line-height: 15px;
}

.bg .footer_list {
  padding-bottom: 19px;
  font-size: 16px;
}

.bg .footer_list a {
  display: inline-block;
  margin-right: -3px;
  color: #4a4a4a;
  font-size: 16px;
}

.bg .footer_list a + a {
  margin-left: 70px;
}

.bg .address {
  color: grey;
  font-size: 12px;
  line-height: 24px;
}
