 <!-- 底部 -->
<div class="bg">
    <p class="footer_list">
        <a href="javascript:;">设为首页</a>
        <a href="javascript:;">加入收藏</a>
        <a href="javascript:;">联系我们</a>
        <a href="javascript:;">使用帮助</a>
    </p>
    <p class="address">泸州市人民政府政务服务中心 主办 版权所有，未经许可，不得复制、转载</p>
    <p class="address"> 地址：泸州市江阳区酒城大道1段2号 邮编：646000 电话（传真）:0830-3114602 </p>
</div>