/*
 * @Author: yanghognxuan
 * @Date: 2018-12-04 13:08:20
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2018-12-04 13:09:58
 * @Description: 途家动画
 */
// 打开弹窗动画
@keyframes dialogSlipToUp {
  0% {
    top: 100%;
    opacity: 0.3;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}

// 钥匙动画
@keyframes guangshow {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.5);

  }

  100% {
    transform: scale(1);

  }
}

@keyframes keyshow {

  0% {
    transform: rotate(0deg)
  }

  4% {
    transform: rotate(6deg)
  }
}
