/*
 * @Author: yanghognxuan
 * @Date: 2018-12-24 11:29:45
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2019-01-18 14:30:38
 * @Description: 公用动画
 */
@keyframes partcommonkey1 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes partcommonkey2 {
  0% {
    transform: rotate(-30deg);
    left: -80px;
    top: 480px;
    width: 600px;
  }

  100% {
    transform: rotate(10deg);
    top: -70px;
    left: 960px;
    width: 220px;
  }
}

@keyframes partcommonkey3 {
  0% {
    left: -30px;
    top: 880px;
    width: 600px;
  }

  88% {
    opacity: 1;
  }

  99% {
    top: 380px;
    left: 1400px;
    width: 220px;
  }

  100% {
    opacity: 0;
  }
}

@keyframes partcommonkey4 {

  0%,
  10%,
  90% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes partcommonkey5 {


  to {
    transform: rotate(360deg);

  }
}

@keyframes partcommonkey6 {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
