/*
 * @Author: yanghognxuan
 * @Date: 2018-12-24 11:29:45
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2019-01-15 17:52:13
 * @Description: part2
 */
.part:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
