/*
 * @Author: yanghognxuan
 * @Date: 2018-12-10 11:26:19
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2019-01-15 12:19:34
 * @Description: 重置浏览器
 */
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  user-select: none;
  box-sizing: inherit;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
}


button,
span,
div {
  -webkit-tap-highlight-color: rgba(219, 219, 219, 0);
  outline: none;
}
