<!DOCTYPE >
<html>

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
	<div class="content">
        {{{header}}}
        {{{mainnav}}}
		<div class="yuyue_con content80">
			<h3 class="main_title" id="main_title">关于张小墨【导游证核发】的申请</h3>
			<div class="nav container">
				<ul id="nav">
					<li>
						<p>
							<a href="javascript:;" class="sele">基本信息</a>
						</p>
					</li>
					<li>
						<p>
							<a href="javascript:;">材料名称</a>
						</p>
					</li>
					<li>
						<p>
							<a href="javascript:;">办理过程</a>
						</p>
					</li>
					<li>
						<p>
							<a href="javascript:;">通知单</a>
						</p>
					</li>
				</ul>
			</div>
			<div class="cont" id="cont">
				<div class="cont1" id="cont1"></div>
				<div class="cont2" id="cont2"></div>
				<div class="cont3" id="cont3">
					<div class="clearfix">
						<div class="tree">
							<dl class="yes">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 申请</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 预审</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 受理</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 审批</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 办结</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 送达</dt>
							</dl>
						</div>
						<div class="shenpi_process">
							<ul>
								<li class="pd_top">张晓莫</li>
								<li>泸市政务大厅窗口</li>
								<li>泸州市政务大厅窗口</li>
								<li>市旅游局行业管理处</li>
								<li>泸州市政务大厅窗口</li>
								<li>泸州市政务大厅窗口</li>
							</ul>
						</div>
					</div>

					<!--通过-->
					<div id="tongguo" class="clearfix">
						<div class="tree">
							<dl class="yes">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 申请</dt>
								<dd></dd>
							</dl>
							<dl class="yes yess">
								<dt>
									<img src="../../common/images/portal/now.png" alt="" />&nbsp; 预审</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 受理</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 审批</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 办结</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 送达</dt>
							</dl>
						</div>
						<div class="shenpi_process">
							<ul>
								<li class="pd_top">张晓莫</li>
								<li>泸市政务大厅窗口
									<span>通过</span>
									<ol>
										<li >
											<dl class="clearfix">
												<dt class="letter">办 理 部 门：</dt>
												<dd>泸州市政务服务大厅18号窗口</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员姓名：</dt>
												<dd>王晓</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员工号：</dt>
												<dd>1342</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 时 间：</dt>
												<dd>2017-09- 05 11：26</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">审 批 意 见：</dt>
												<dd>“内河船舶船员适任证书申请表”中“身份证号”一栏信息有误，请补正</dd>
											</dl>
										</li>
									</ol>

									<ol>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 部 门：</dt>
												<dd>泸州市政务服务大厅18号窗口</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员姓名：</dt>
												<dd>王晓</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员工号：</dt>
												<dd>1342</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 时 间：</dt>
												<dd>2017-09- 05 11：26</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">审 批 意 见：</dt>
												<dd>“内河船舶船员适任证书申请表”中“身份证号”一栏信息有误，请补正</dd>
											</dl>
										</li>
									</ol>
								</li>
								<li>泸州市政务大厅窗口</li>
								<li>市旅游局行业管理处</li>
								<li>泸州市政务大厅窗口</li>
								<li>泸州市政务大厅窗口</li>
							</ul>
						</div>
					</div>

					<!--过期-->
					<div id="guoqi" class="clearfix">
						<div class="tree">
							<dl class="yes">
								<dt><img src="../../common/images/portal/ok.png" alt="" />&nbsp; 申请</dt>
								<dd></dd>
							</dl>
							<dl class="yes yess">
								<dt><img src="../../common/images/portal/now.png" alt="" />&nbsp; 预审</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt><img src="../../common/images/portal/no.png" alt="" />&nbsp; 受理</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt><img src="../../common/images/portal/no.png" alt="" />&nbsp; 审批</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt><img src="../../common/images/portal/no.png" alt="" />&nbsp; 办结</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt><img src="../../common/images/portal/no.png" alt="" />&nbsp; 送达</dt>
								<dd></dd>
							</dl>
						</div>
						<div class="shenpi_process">
							<ul>
								<li class="pd_top">张晓莫</li>
								<li>泸市政务大厅窗口
									<span>预约过期</span>
									<ol>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 部 门：</dt>
												<dd>泸州市政务服务大厅18号窗口</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员姓名：</dt>
												<dd>王晓</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员工号：</dt>
												<dd>1342</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 时 间：</dt>
												<dd>2017-09- 05 11：26</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">审 批 意 见：</dt>
												<dd>“内河船舶船员适任证书申请表”中“身份证号”一栏信息有误，请补正</dd>
											</dl>
										</li>
									</ol>
								</li>
								<li>泸州市政务大厅窗口</li>
								<li>市旅游局行业管理处</li>
								<li>泸州市政务大厅窗口</li>
								<li>泸州市政务大厅窗口</li>
							</ul>
						</div>
					</div>

					<!--准予许可-->
					<div id="xuke" class="clearfix">
						<div class="tree">
							<dl class="yes">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 申请</dt>
								<dd></dd>
							</dl>
							<dl class="yes yess">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 预审</dt>
								<dd></dd>
							</dl>
							<dl class="yes">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 受理</dt>
								<dd></dd>
							</dl>
							<dl class="yes">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 审批</dt>
								<dd></dd>
							</dl>
							<dl class="yes">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 办结</dt>
								<dd></dd>
							</dl>
							<dl class="yes">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 送达</dt>
							</dl>
						</div>
						<div class="shenpi_process">
							<ul>
								<li class="pd_top">张晓莫</li>
								<li>泸市政务大厅窗口
									<span>预约过期</span>
									<ol>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 部 门：</dt>
												<dd>泸州市政务服务大厅18号窗口</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员姓名：</dt>
												<dd>王晓</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员工号：</dt>
												<dd>1342</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 时 间：</dt>
												<dd>2017-09- 05 11：26</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">审 批 意 见：</dt>
												<dd>“内河船舶船员适任证书申请表”中“身份证号”一栏信息有误，请补正</dd>
											</dl>
										</li>
									</ol>
								</li>
								<li>泸州市政务大厅窗口</li>
								<li>市旅游局行业管理处</li>
								<li>泸州市政务大厅窗口</li>
								<li>泸州市政务大厅窗口</li>
							</ul>
						</div>
					</div>

					<!--已取消预约-->
					<div id="quxiaoyuyue" class="clearfix">
						<div class="tree">
							<dl class="yes">
								<dt>
									<img src="../../common/images/portal/ok.png" alt="" />&nbsp; 申请</dt>
								<dd></dd>
							</dl>
							<dl class="yes yess">
								<dt>
									<img src="../../common/images/portal/now.png" alt="" />&nbsp; 预审</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 受理</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 审批</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 办结</dt>
								<dd></dd>
							</dl>
							<dl>
								<dt>
									<img src="../../common/images/portal/no.png" alt="" />&nbsp; 送达</dt>
							</dl>
						</div>
						<div class="shenpi_process">
							<ul>
								<li class="pd_top">张晓莫</li>
								<li>泸市政务大厅窗口
									<span>预约过期</span>
									<ol>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 部 门：</dt>
												<dd>泸州市政务服务大厅18号窗口</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员姓名：</dt>
												<dd>王晓</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt>办理人员工号：</dt>
												<dd>1342</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">办 理 时 间：</dt>
												<dd>2017-09- 05 11：26</dd>
											</dl>
										</li>
										<li>
											<dl class="clearfix">
												<dt class="letter">审 批 意 见：</dt>
												<dd>“内河船舶船员适任证书申请表”中“身份证号”一栏信息有误，请补正</dd>
											</dl>
										</li>
									</ol>
								</li>
								<li>泸州市政务大厅窗口</li>
								<li>市旅游局行业管理处</li>
								<li>泸州市政务大厅窗口</li>
								<li>泸州市政务大厅窗口</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="cont4" id="cont4">
					<div>
						<!--补齐补正-->
						<table border="1" cellspacing="0">
							<thead>
								<tr>
									<td colspan="4">
										<span>2017.09.12&nbsp;
											<img src="../../common/images/portal/arrow.png" alt="" />
										</span>补齐补正通知单</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>办件编号</th>
									<td>6766577665</td>
									<th>受理时间</th>
									<td>2017-09-05 14:20:56</td>
								</tr>
								<tr>
									<th>受理部门</th>
									<td>泸州市上城区建设局</td>
									<th>窗口人员</th>
									<td>王小风</td>
								</tr>
								<tr>
									<th>承诺时限</th>
									<td colspan="3">10个工作日</td>
								</tr>
								<tr>
									<th>需补齐补正材料</th>
									<td colspan="3">建设项目可行性研究报告或建议书；</td>
								</tr>
								<tr>
									<th>补齐补正告知原因</th>
									<td colspan="3">建设项目可行性研究报告缺少相关权威部门认证，请附加上；</td>
								</tr>
								<tr>
									<td colspan="4">查询及投诉电话：010-XXXXXXX</td>
								</tr>
								<tr>
									<td colspan="4"  class="td_padding0">
										<a class="print" onclick="print()">打印</a>
									</td>
								</tr>
							</tbody>
						</table>

						<!--预审通知-->
						<table border="1" cellspacing="0" class="tab">
							<thead>
								<tr>
									<td colspan="4">
										<span>2017.09.12&nbsp;
											<img src="../../common/images/portal/arrow.png" alt="" />
										</span>预审通过通知单</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>办件编号</th>
									<td>6766577665</td>
									<th>受理时间</th>
									<td>2017-09-05 14:20:56</td>
								</tr>
								<tr>
									<th>受理部门</th>
									<td>泸州市上城区建设局</td>
									<th>窗口人员</th>
									<td>王小风</td>
								</tr>
								<tr>
									<th>承诺时限</th>
									<td colspan="3">10个工作日</td>
								</tr>
								<tr>
									<th rowspan="4">预审材料</th>
									<td colspan="3">建设项目可行性研究报告或建议书；</td>
								</tr>
								<tr>
									<td colspan="3">中华人民共和国导游证申请表</td>
								</tr>
								<tr>
									<td colspan="3">《导游人员资格证书》</td>
								</tr>
								<tr>
									<td colspan="3">与旅行社签订的劳动合同或在相关旅游行业组织注册的证明</td>
								</tr>
								<tr>
									<th>预审意见</th>
									<td colspan="3">同意</td>
								</tr>
								<tr>
									<th>附加信息</th>
									<td colspan="3">请您于2017-09-28携带上述材料原件到泸州市龙马潭区政务大厅3号窗口进行办理。</td>
								</tr>
								<tr>
									<td colspan="4">您所申报的粮食收购资格许可事项预审通过。</td>
								</tr>
								<tr>
									<td colspan="4">查询及投诉电话：010-XXXXXXX</td>
								</tr>
								<tr>
									<td colspan="4" class="td_padding0">
										<a class="print" onclick="print()">打印</a>
									</td>
								</tr>
							</tbody>
						</table>
						<!--预约通知-->
						<table border="1" cellspacing="0" class="tab">
							<thead>
								<tr>
									<td colspan="4">
										<span>2017.09.12&nbsp;
											<img src="../../common/images/portal/arrow.png" alt="" />
										</span>预约成功通知单</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>办件编号</th>
									<td>Y766577665</td>
									<th>受理时间</th>
									<td>2017-09-05 14:20:56</td>
								</tr>
								<tr>
									<th>受理部门</th>
									<td>泸州市上城区建设局</td>
									<th>受理窗口</th>
									<td>1号窗口</td>
								</tr>
								<tr>
									<th rowspan="4">受理材料</th>
									<td colspan="3">行政许可申请表</td>
								</tr>
								<tr>
									<td colspan="3">法定代表人（负责人）身份证复印件</td>
								</tr>
								<tr>
									<td colspan="3">营业执照正本复印件及复印件</td>
								</tr>
								<tr>
									<td colspan="3">粮食仓储设施产权证明</td>
								</tr>
								<tr>
									<td colspan="4">预约成功，请携带相关材料原件到政务大厅指定窗口进行办理</td>
								</tr>
								<tr>
									<td colspan="4">查询及投诉电话：010-XXXXXXX</td>
								</tr>
								<tr>
									<td colspan="4" class="td_padding0">
										<a class="print" onclick="print()">打印</a>
									</td>
								</tr>
							</tbody>
						</table>
						<!--不予受理-->
						<table border="1" cellspacing="0" class="tab">
							<thead>
								<tr>
									<td colspan="4">
									<span>2017.09.12&nbsp;
										<img src="../../common/images/portal/arrow.png" alt="" />
									</span>补齐补正通知单</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>事项名称</th>
									<td>粮食收购资格许可</td>
									<th>办件编号</th>
									<td>6766577665</td>
								</tr>
								<tr>
									<th>受理时间</th>
									<td>2017-09-05 14:20:56</td>
									<th>受理部门</th>
									<td>泸州市上城区粮食局</td>
								</tr>
								<tr>
									<th>窗口人员</th>
									<td>王小风</td>
									<th>承诺时限</th>
									<td>10个工作日</td>
								</tr>
								<tr>
									<th rowspan="4">受理材料</th>
									<td colspan="3">行政许可申请表</td>
								</tr>
								<tr>
									<td colspan="3">法定代表人（负责人）身份证复印件</td>
								</tr>
								<tr>
									<td colspan="3">营业执照正本复印件及复印件</td>
								</tr>
								<tr>
									<td colspan="3">粮食仓储设施产权证明</td>
								</tr>
								<tr>
									<th>预审意见</th>
									<td colspan="3">不予受理</td>
								</tr>
								<tr>
									<th>不予受理原因</th>
									<td colspan="3">使用伪造的身份证</td>
								</tr>
								<tr>
									<th colspan="4">您所申报的粮食收购资格许可事项不予受理。</th>
								</tr>
								<tr>
									<th colspan="4">查询及投诉电话：010-XXXXXXX</th>
								</tr>
								<tr>
									<td colspan="4" class="td_padding0">
										<a class="print" onclick="print()">打印</a>
									</td>
								</tr>
							</tbody>
						</table>
						<!--已办结 准予许可-->
						<table border="1" cellspacing="0" class="tab">
							<thead>
								<tr>
									<td colspan="4">
										<span>2017.09.12&nbsp;
											<img src="../../common/images/portal/arrow.png" alt="" />
										</span>准予许可通知单</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>事项名称</th>
									<td>粮食资格许可证</td>
									<th>办件编号</th>
									<td>Y766577665</td>
								</tr>
								<tr>
									<th>受理人员</th>
									<td>王刚</td>
									<th>办结日期</th>
									<td>2017-08-28 14：:23</td>
								</tr>
								<tr>
									<th>办理结果</th>
									<td>准予许可</td>
									<th>结果证照编号</th>
									<td>00000001</td>
								</tr>
								<tr>
									<th>办理结果电子文书</th>
									<td>粮食资格许可证</td>
									<th>办件结果描述</th>
									<td>同意审批</td>
								</tr>
								<tr>
									<th>结果时效</th>
									<td colspan="3">10天</td>
								</tr>
								<tr>
									<td colspan="4" class="td_padding0">
										<a class="print" onclick="print()">打印</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
        {{{footer}}}
	</div>
</body>

</html>