.box {
  width: 100vw;
}

.list {
  width: 32vw;
  padding: 1vw;
  height: 43vw;
}

h4 {
  font-size: 6vw;
  text-align: center
}

.box img {
  height: 30vw;
  width: 30vw;
  background: yellowgreen;
}

.box p+p {
  margin-top: 2vw;
}
