/*单选*/
span.radio {position: relative; top:7px; display: inline-block; width: 20px; height: 20px; background: url("../images/portal/radiono.png") no-repeat; cursor: pointer; }
span.radioed {position: relative;top: 7px; display: inline-block; width: 20px; height: 20px; background: url("../images/portal/radioed.png") no-repeat; cursor: pointer; }