/*
 * @Author: yanghognxuan
 * @Date: 2018-12-24 11:29:45
 * @LastEditors: 杨宏旋
 * @LastEditTime: 2019-02-15 17:15:42
 * @Description: part6
 */
$imgurl: 'https://static.ruubypay.com/activities-v2/images/the-wandering-earth';

.part:nth-of-type(6) {
	display: flex;
	align-items: center;
	width: 300vw;

	.ani-item:nth-of-type(1) {
		padding-top: 168px;
	}

	.ani-item:nth-of-type(2) {
		padding-top: 408px;

		span {
			font-size: 80px;
		}
	}

	.ani-item:nth-of-type(3) {
		padding-top: 408px;
	}
}

.ball {
	position: absolute;
	background: url($imgurl+'/earth-ball.png') no-repeat center center;
	// background: url('../images/earth-ball.png') no-repeat center center;
	background-size: contain;
	width: 440px;
	height: 440px;
	left: -30px;
	top: 880px;
	animation: partcommonkey3 10.2s cubic-bezier(0.33, 0, 0.67, 1);
	z-index: -1;
}
