/*
 * @Author: yanghognxuan
 * @Date: 2018-12-24 11:29:45
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2019-01-18 12:12:01
 * @Description: part3
 */
$imgurl: 'https://static.ruubypay.com/activities-v2/images/the-wandering-earth';

.warp {
	.box {
		.ani-item.part:nth-of-type(3) {
			width: 200vw;
			// background: url($imgurl+'/earth-5.png') no-repeat center center;
			background-size: cover;
			padding-top: 74px;
		}
	}
}

.warp {
	.box {
		.Load.part:nth-of-type(3) {
			&>span {
				font-size: 30px;
				opacity: 1;
				color: #000;
				line-height: 58px;

			}

			&>span:nth-of-type(1),
			&>span:nth-of-type(2) {
				animation: partcommonkey6 1.8s cubic-bezier(0.33, 0, 0.67, 1);
			}

			&>span:nth-of-type(3),
			&>span:nth-of-type(4) {
				animation: partcommonkey6 2.8s cubic-bezier(0.33, 0, 0.67, 1);
			}
		}
	}
}
