/*
 * @Author: yanghognxuan
 * @Date: 2019-01-28 20:43:42
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2019-02-14 11:27:32
 * @Description: dialog
 */
.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.80);
  z-index: 100;
  top: 0;
  left: 0;
  z-index: 100;

  :-moz-placeholder {
    color: #CFB494;
    opacity: 1;
  }

  ::-moz-placeholder {
    color: #CFB494;
    opacity: 1;
  }

  input:-ms-input-placeholder {
    color: #CFB494;
    opacity: 1;
  }

  input::-webkit-input-placeholder {
    color: #CFB494;
    opacity: 1;
  }
}



.dialog_main {
  animation: dialogSlipToUp .6s;
  position: absolute;
  left: 100px;
  z-index: 101;
  top: calc(50vh - 414px);

  .bg {
    height: 450px;
    margin: 0 auto;
    background-image: linear-gradient(to top, #FFF4DB 0%, #AF8A65 41%, #C6A987 100%);
    border-radius: 10px;
    border-radius: 10px;

  }

  img {
    display: block;
    margin: 0 auto;
  }

  .close {
    margin-top: 72px;
    width: 48px;
    height: 48px;
  }

  .recording {
    margin-bottom: 20px;

    img {
      height: 60px;
    }
  }


  .activation {
    margin-bottom: 20px;

    img {
      width: 438px;
    }
  }

  .main {
    width: 550px;
    padding-top: 114px;
    position: relative;
  }

  .rule {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 42px 36px;
    width: 550px;

    a {
      position: relative;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 32px;
      line-height: 32px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        margin: 0 auto;
        height: 1px;
        /*no*/
        width: 100%;
        background: #979797;
        overflow: hidden;
        transform: scaleY(0.5);
      }
    }

    a:nth-child(1) {
      color: #333333;
      padding-bottom: 30px;
      margin-bottom: 30px;

      &::after {
        bottom: 0;
      }
    }

    a:nth-last-child(1) {
      padding-top: 30px;
      margin-top: 30px;
      font-size: 32px;
      color: #2E6EA3;
      line-height: 32px;

      &::after {
        top: 0;
      }
    }

    p {
      font-size: 28px;
      color: #333333;
      line-height: 42px;
    }
  }

  .txt {
    background: #FFF1E3;
    border-radius: 10px;
    height: 430px;
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding-top: 40px;
    overflow: hidden;

    img {
      width: 436px;
      padding: 66px 0 42px;
    }

    em {
      font-size: 24px;
      color: #8D5E2D;
      letter-spacing: 0;
      line-height: 36px;
      display: block;
      text-align: center;
    }

    p:nth-of-type(1) {
      padding-top: 52px;
    }

    p:nth-child(odd) {
      font-size: 34px;
      color: #8D5E2D;
      letter-spacing: 0;
      text-align: center;
    }

    p:nth-child(even) {
      padding: 20px 0 40px;
      font-size: 26px;
      color: #CFB494;
      letter-spacing: 0;
      text-align: center;
      line-height: 26px;
    }

    span {
      display: block;
      font-size: 24px;
      color: #8D5E2D;
      letter-spacing: 0;
      line-height: 36px;
      padding: 0 46px 0 48px;
    }

    span:nth-of-type(1) {
      color: #D87610;
      margin-top: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 960px;
      height: 862px;
      transform-origin: 0 0;
      transform: scale(0.5);
      border: 1px solid #CFB594;
      /*no*/
      border-radius: 12px;
      z-index: -1;
    }

    p:nth-of-type(1).nocard {
      padding-top: 100px;
    }
  }



  .input_box {
    position: relative;
    width: 420px;
    height: 90px;
    margin: 0 auto;

    input {
      width: 100%;
      line-height: 48px;
      font-size: 34px;
      color: #CFB494;
      text-align: center;
      background: transparent;
      padding: 21px 0;
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      transform-origin: 0 0;
      transform: scale(0.5);
      border: 1px solid #CFB594;
      /*no*/
      border-radius: 100px;
      z-index: -1;
    }
  }

  .btn {
    background: url(../images/huxian.png) no-repeat 0 10px;
    background-size: contain;
    height: 218px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 550px;
    text-align: center;
    z-index: 100;
    padding-top: 92px;

    &::after {
      content: '';
      width: 550px;
      position: absolute;
      left: 0;
      height: 140px;
      bottom: 0;
      z-index: -1;
      border-radius: 0px 0px 10px 10px;
      background-image: linear-gradient(-180deg, #D6B390 20%, #ac8964 100%);
    }

    button {
      display: inline-block;
      background-image: linear-gradient(-180deg, #5F4747 0%, #312222 100%);
      border-radius: 50px;
      width: 500px;
      height: 100px;
      font-size: 34px;
      color: #D4BB9C;
      padding: 0;
      text-align: center;
    }
  }
}

.btndisabled {
  opacity: .5;
  pointer-events: none;
}

// 激活成功后的弹窗
.successdialog {
  top: calc(50vh - 282px);
}

// 激活弹窗样式
.activedialog {
  top: calc(50vh - 388px);

  .bg {
    height: 520px;
  }


  .btn {
    height: 290px;

    &::after {
      height: 212px;
    }

    span {
      display: block;
      font-size: 30px;
      color: #564128;
      letter-spacing: 0;
      text-align: center;
      line-height: 98px;
    }
  }
}

// 规则弹窗

.ruledialog {
  top: calc(50vh - 386px);

}
