/*
 * @Author: yanghognxuan
 * @Date: 2019-01-25 18:05:12
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2019-01-29 17:07:04
 * @Description: 可能喜欢
 */
.join {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 40px;
  justify-content: space-around;


  li {
    width: 323px;
    height: 186px;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
