<div class="info_list">
<ul id="info_list">
    <li class="li_wrap"> <img src="../../common/images/portal/geren.png" alt="" />
    <p>您好，<span class="all_name"></span></p></li>

    <li><a href="../../page/personalinfo.html">基本信息</a></li>
    <li><a href="../../page/personaloffice.html">我的办件</a></li>
    <li><a href="../../page/personalsuggestion.html">我的建议</a></li>
    <li><a href="../../page/personalcomplaints.html">我的投诉</a></li>
    <li><a href="../../page/personalconsulting.html">我的咨询</a></li>
    <li><a href="../../page/personalappraise.html">我的评价</a></li>
    <li><a href="./collect.html">我的收藏</a></li>
    <li><a href="./license.html">我的证照</a></li>
    <li><a href="../../page/personalmessages.html">消息提醒</a></li>
</ul>
</div>