<div class="header_nav bgc">
    <div class="content80 ">
        <ul id="turn_main" class="header_maincont ">
            <li><a href="../page/index.html">首页</a></li>
            <li><a data-id="1" href="./affairlist.html?personalportal=1_0">个人办事</a></li>
            <li><a data-id="2" href="./affairlist.html?personalportal=2_0">法人办事</a></li>
            <li><a data-id="3" href="./affairlist.html?personalportal=3_0">行政审批</a></li>
            <li><a data-id="4" href="./affairlist.html?personalportal=4_0">公共服务</a></li>
            <li><a data-id="5" href="./suggest.html?personalportal=5">建议公开</a></li>
            <li><a data-id="6" href="./suggest.html?personalportal=6">投诉公开</a></li>
        </ul>
    </div>
</div>