<div class="portal">
    <!-- 头部 -->
    <div class="header">
        <!-- 移动端 -->
        <div class="handle">
            <div class="mobile">
                移动客户端
                <div class="qrcode ">
                    <img src="../../common/images/portal/qrcode2.png" alt="">
                </div>
            </div>
            <div class="user" id="loading">
                <a href="http://172.28.50.186:8082/portal/UnifiedAuthentication/login" class="login">登录</a>
                <a href="http://t100uias.zhengtoon.com/portal/#/register/" class="register">注册</a>
                <a href="javascript:;" class="help" onclick="javascript:alert('敬请期待!')">使用帮助</a>
            </div>
            <div class="user" id="landing">
                <span class="personalinfos">
                    <a href="../page/personalinfo.html" class="userheadePortrait"><img src="../../common/images/portal/geren.png" alt=""></a>
                    <img src="../../common/images/portal/lv1.png" alt="" class="usergrade">
                    <a href="../page/officemessage.html" class="usermessagesnum"><img src="../../common/images/portal/xiaoxi.png" alt=""><span class="messagesnum"></span></a> 
                    <img src="../../common/images/portal/arrow_fff.png" alt="">
                    <div id="heade_infolist">
                        <ul>
                            <li> <a href=""><img src="../../common/images/portal/user.png" alt="" /> <span class="real_name"></span></a> </li>
                            <li><a href=""><img src="../../common/images/portal/phone.png" alt="" /> <span id="tel"></span> </a></li>
                            <li><a href=""><img src="../../common/images/portal/idcard.png" alt="" /><span id="grade"></span></a></li>
                            <li><a href=""><img src="../../common/images/portal/xiaoxi.png" alt="" /> <span id="emails"></span> </a> </li>
                            <li class="last_time"><a href=""><p id="last_time"></p> <p class="gray">上次登录时间</p></a></li>
                            <li><a id="safetyexit" href=""><img src="../../common/images/portal/return18.png" alt="" />安全退出</a></li>
                        </ul>
                    </div>
                </span>
                <a href="javascript:;" class="help" onclick="javascript:alert('敬请期待!')">使用帮助</a>
            </div>
        </div>
    </div>
    <!-- 站点切换 -->
    <div class="station">
        <div class="platform">
            <div class="logo">
                <img src="../../common/images/portal/logo.png" alt="" width="40px">
                <div class="txt">
                    <h1>政务服务标准化平台</h1>
                    <h2>www.syswin.com</h2>
                </div>
                <div class="cut" id="quyu">
                    <span class="down_sele">
                        <span id="current_cit">
                            <a href="javascript:;" data-id="75">泸州市</a>
                        </span>
                    </span>
                    <!--显示隐藏城市区域-->
                    <div id="sele" class="sele container">
                        <div class="txt">省级:</div>
                        <div class="" id="city"></div>
                        <div class="txt">市级:</div>
                        <div class="" id="city_1"></div>
                        <div class="txt">县(市、区):</div>
                        <div class="" id="street"></div>
                    </div>
                </div>
            </div>
            <div class="search">
                <input type="text" placeholder="请输入">
            </div>
        </div>
    </div>
</div>