/*
 * @Author: yanghognxuan
 * @Date: 2018-12-24 11:29:45
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2018-12-27 18:49:08
 * @Description: 公用动画
 */
@keyframes partcommonkey {

  // 箭头
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -20%);
  }

  100% {
    transform: translate(-50%, 0%);
  }
}

@keyframes partcommonkey2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// part1
@keyframes sploosh {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 253, 1);
    background: rgba(255, 255, 253, 1);
  }

  100% {
    box-shadow: 0 0 0 28px rgba(255, 255, 253, 0);
    background: rgba(255, 255, 253, 0);
  }
}

// @keyframes part1key1 {
//   0% {
//     opacity: .5;
//     transform: scale(1.2);
//   }

//   50%,
//   100% {
//     opacity: 0;
//     transform: scale(1.4);
//   }
// }

// @keyframes part1key2 {
//   0% {
//     opacity: 1;
//     transform: scale(1);
//   }

//   100% {
//     opacity: 0;
//     transform: scale(1.4);
//   }
// }
// @keyframes part1key5 {
//   0% {
//     opacity: 1;
//     transform: scale(1);
//   }

//   100% {
//     opacity: .5;
//     transform: scale(1.2);
//   }
// }
@keyframes part1key3 {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes part1key4 {
  0% {
    background-position-x: 90px;
  }

  100% {
    background-position-x: -90px;
  }
}



@keyframes part1key6 {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// part2
@keyframes part2key1 {
  0% {
    transform: translateY(-90%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes part2key2 {
  0% {
    transform: scale(0.8) translateX(120%);
  }

  100% {
    transform: scale(1) translateX(0);
  }
}

// part3 
@keyframes part3key1 {
  0% {
    transform: translateX(180%);
  }

  100% {
    transform: translateX(0);
  }
}

// part4
@keyframes part4key1 {
  0% {
    transform: translate(0);
  }

  60%,
  100% {
    transform: translate(200%);
  }
}

// part5
@keyframes part5key1 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(3%);
  }
}

// part6
@keyframes part6key1 {
  0% {
    background-position-x: 0;
  }

  66%,
  100% {
    background-position-x: -326px;
  }
}

// part8
@keyframes part8key1 {
  0% {
    stroke-dashoffset: 629;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes part8key2 {
  0% {
    transform: rotate(360deg);

  }

  100% {
    transform: rotate(0deg);

  }
}

@keyframes part8key3 {

  0%,
  75% {
    opacity: 1;
  }

  90%,
  100% {
    opacity: 0;
  }
}
