/*
 * @Author: yanghognxuan
 * @Date: 2018-12-10 11:26:19
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2018-12-28 17:05:30
 * @Description: 重置浏览器
 */
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}


a {
  text-decoration: none;
}

a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
}

img {
  position: absolute;
}

a,
button,
div,
p {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
}
