/*
 * @Author: yanghognxuan
 * @Date: 2019-01-28 20:40:57
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2019-01-29 17:01:49
 * @Description: 底部图片
 */
footer {
  img {
    width: 100%;
  }

  img:nth-child(1) {
    margin: 33px 0 30px 0;
  }

}
