@charset "UTF-8";
ul {
  margin-bottom: 0 !important;
}

.mask {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  /* 利用固定定位的好处：页面还可以上下翻动，但是始终处于灰色背景下 */
}

.portal_index {
  width: 100%;
}

.portal_index .banner_main {
  background: url(../../common/images/new_banner.jpg) no-repeat center 0;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.portal_index .banner_main .meau {
  position: absolute;
  bottom: 0%;
}

.portal_index .banner_main .meau .meau_ul {
  float: left;
}

.portal_index .banner_main .meau .meau_ul li {
  width: 100px;
  height: 58px;
  background: rgba(4, 15, 59, 0.4);
  border-radius: 2px 0 0 0;
  margin-bottom: 1px;
  margin-right: 1px;
  transition: 0.1s;
}

.portal_index .banner_main .meau .meau_ul li a {
  text-align: center;
  display: block;
  color: #FFFFFF;
  line-height: 58px;
  font-size: 16px;
  height: 58px;
  cursor: default !important;
}

.portal_index .banner_main .meau .meau_ul .active {
  border-left: 3px #FFFFFF solid;
}

.portal_index .banner_main .meau .meaulist {
  height: 295px;
  width: 344px;
  float: left;
  background: rgba(4, 15, 59, 0.45);
}

.portal_index .banner_main .meau .meaulist .inlist {
  display: none;
  overflow: hidden;
  height: 245px;
  list-style: none;
}

.portal_index .banner_main .meau .meaulist .inlist li {
  width: 33%;
  padding-left: 16px;
  padding-top: 18px;
  float: left;
}

.portal_index .banner_main .meau .meaulist .inlist li img {
  margin-right: 5px;
  margin-bottom: 1.5px;
}

.portal_index .banner_main .meau .meaulist .inlist li a {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 14px;
  cursor: pointer;
  opacity: 0.8;
}

.portal_index .banner_main .meau .meaulist .jiahao {
  position: absolute;
  bottom: 27px;
  right: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  height: 16px;
  width: 16px;
  padding: 2px;
  cursor: pointer;
}

.portal_index .banner_main .search {
  height: 295px;
  width: 360px;
  background: rgba(4, 15, 59, 0.45);
  border-radius: 2px;
  float: right;
  position: absolute;
  right: 40px;
  bottom: 0;
}

.portal_index .banner_main .search .top_head {
  height: 48px;
  border-bottom: 0.5px solid #8B9FBB;
  line-height: 48px;
}

.portal_index .banner_main .search .top_head ul {
  text-align: center;
}

.portal_index .banner_main .search .top_head ul .top_p {
  float: left;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FFFFFF;
  width: 50%;
}

.portal_index .banner_main .search .top_head ul .top_p a {
  color: #FFFFFF;
  padding-bottom: 12px;
  transition: 0.1s;
}

.portal_index .banner_main .search .top_head ul .active a {
  border-bottom: 2px #FFFFFF solid;
}

.portal_index .banner_main .search .chaxun {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  display: none;
  position: relative;
}

.portal_index .banner_main .search .chaxun ul {
  margin-top: 41px;
}

.portal_index .banner_main .search .chaxun ul li {
  margin-bottom: 20px;
}

.portal_index .banner_main .search .chaxun ul li label {
  display: inline-block;
  width: 86px;
  text-align: right;
  margin-right: 9px;
}

.portal_index .banner_main .search .chaxun ul li .select {
  border-radius: 2px;
  border: none;
  width: 233px;
  height: 35px;
  padding-left: 15px;
  color: black;
}

.portal_index .banner_main .search .chaxun ul li input {
  border-radius: 2px;
  border: none;
  width: 208px;
  height: 15px;
  padding-left: 15px;
}

.portal_index .banner_main .search .chaxun ul a {
  display: block;
  background-image: url(../../common/images/portal/input.png);
  width: 233px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: #FFFFFF;
  border: none;
  background: #F44B00;
  border-radius: 2px;
  margin-left: 99px;
  cursor: pointer;
}

.portal_index .banner_main .banner_help {
  position: fixed;
  right: 0.8%;
  top: 215px;
  height: 190px;
  width: 60px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 1000;
}

.portal_index .banner_main .banner_help a {
  font-size: 12px;
  color: #808080;
  letter-spacing: 0;
  line-height: 12px;
  display: block;
  width: 60px;
  height: 57px;
  padding-top: 45px;
  box-sizing: border-box;
  text-align: center;
}

.portal_index .banner_main .banner_help a:nth-of-type(1) {
  background: url(../../common/images/portal/onlineanswer.png) center center no-repeat;
}

.portal_index .banner_main .banner_help a:nth-of-type(2) {
  background: url(../../common/images/portal/wozixun.png) center center no-repeat;
}

.portal_index .banner_main .banner_help a:nth-of-type(3) {
  background: url(../../common/images/portal/shoucang.png) center center no-repeat;
}

.portal_index .main {
  background: #FFFFFF;
  width: 100%;
  padding-top: 60px;
  height: 170px;
}

.portal_index .main ul {
  width: 884px;
  margin: 0 auto;
}

.portal_index .main ul li {
  float: left;
  width: 64px;
  height: 96px;
}

.portal_index .main ul li i {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: url("../../common/images/portal/pic_jihe.png") no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portal_index .main ul li a {
  display: block;
  font-size: 16px;
  color: #2B3642;
  letter-spacing: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 16px;
}

.portal_index .main ul li:hover a {
  color: #3395FF;
}

.portal_index .main ul .item1 i {
  background-position: 0px 0;
}

.portal_index .main ul .item1:hover i {
  background-position: 0px -60px;
}

.portal_index .main ul .item2 i {
  background-position: -60px 0;
}

.portal_index .main ul .item2:hover i {
  background-position: -60px -60px;
}

.portal_index .main ul .item3 i {
  background-position: -120px 0;
}

.portal_index .main ul .item3:hover i {
  background-position: -120px -60px;
}

.portal_index .main ul .item4 i {
  background-position: -180px 0;
}

.portal_index .main ul .item4:hover i {
  background-position: -180px -60px;
}

.portal_index .main ul .item5 i {
  background-position: -240px 0;
}

.portal_index .main ul .item5:hover i {
  background-position: -240px -60px;
}

.portal_index .main ul .item6 i {
  background-position: -300px 0;
}

.portal_index .main ul .item6:hover i {
  background-position: -300px -60px;
}

.portal_index .main ul li + li {
  margin-left: 141px;
}

.portal_index .banner_help {
  position: absolute;
  right: 0%;
  top: 0%;
  height: 190px;
  width: 60px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 99999;
}

.portal_index .banner_help a {
  font-size: 12px;
  color: #808080;
  letter-spacing: 0;
  line-height: 12px;
  display: block;
  width: 60px;
  height: 57px;
  padding-top: 45px;
  box-sizing: border-box;
  text-align: center;
}

.portal_index .banner_help a:nth-of-type(1) {
  background: url(../../common/images/portal/onlineanswer.png) center center no-repeat;
}

.portal_index .banner_help a:nth-of-type(2) {
  background: url(../../common/images/portal/wozixun.png) center center no-repeat;
}

.portal_index .banner_help a:nth-of-type(3) {
  background: url(../../common/images/portal/shoucang.png) center center no-repeat;
}

.portal_index .login_pop {
  display: none;
  background: #FFFFFF;
  color: #424754;
  border-radius: 2px;
  width: 360px;
  height: 190px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -180px;
  margin-top: -80px;
  z-index: 99999;
}

.portal_index .login_pop .pop_top {
  padding: 20px 30px;
}

.portal_index .login_pop .pop_top .close_login {
  cursor: pointer;
  float: right;
}

.portal_index .login_pop .pop_top .hint {
  color: #424754;
  float: left;
}

.portal_index .login_pop .pop_content {
  width: 131px;
  font-size: 14px;
  margin: 33px auto 35px;
  margin-top: 33px;
}

.portal_index .login_pop .pop_content a {
  color: #3395FF;
}

.portal_index .login_pop .pop_bottom {
  height: 30px;
  line-height: 30px;
}

.portal_index .login_pop .pop_bottom .fl {
  margin-left: 90px;
}

.portal_index .login_pop .pop_bottom .fr {
  margin-right: 90px;
}

.portal_index .login_pop .pop_bottom .zhuce {
  display: inline-block;
  width: 80px;
  height: 30px;
  background: #3395FF;
  border-radius: 2px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 30px;
}

.portal_index .login_pop .pop_bottom .zhuce .persondo {
  margin-left: 12px;
}

.portal_index .fl {
  float: left;
}

.portal_index .fr {
  float: right;
}
