<div class="col-sm-2">
  <a href="/productedit" class="list-group-item ">商品管理</a>
  <a href="/product" class="list-group-item active"> 商品列表</a>
  <a href="/productadd" class="list-group-item "> 增加商品</a>
  <a href="/productedit" class="list-group-item "> 修改商品</a>
</div>
