<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
  <div class="content">
      {{{header}}}
      {{{mainnav}}}
      <div class="content80 clearfix">
            {{{infolist}}}
          <div class="width15 height100"></div>
          <div class="info_detail width85">
            <div class="nav">
              <ul id="nav">
                <li class="active nav_margin">
                  <a href="javascript:;">全部</a>
                </li>
                <li class="nav_margin">
                  <a href="javascript:;">未读</a>
                </li>
              </ul>
            </div>
            <div class="cont" id="cont">
                <div class="msg_all" id="msg_all"></div>
                <div class="removePage"><a href="javascript:;" id="delPage">删除本页</a></div>
                <div class="page_wrap">
                    <div class="page" id="page" style="margin-left: -1%;"></div>
                </div>
                <div class="nodata">
                    <img src="../../common/images/portal/404.png" alt="暂无数据">
                    <p>暂无数据</p>
                </div>
            </div>
          </div>
      </div>
  </div>
</body>

</html>