/*
 * @Author: yanghognxuan
 * @Date: 2018-12-05 13:15:22
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2018-12-06 12:15:45
 * @Description: 抽奖钥匙区
 */
@import './mixin.scss'; // 变量
.imgbox {
  background-image: url(../images/tujiamap.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 726px;
  position: relative;

  a {
    width: 145px;
    height: 145px;
    position: absolute;
    z-index: 100;
    cursor: pointer;

    &::after {
      width: 145px;
      height: 145px;
      position: absolute;
      top: -15px;
      left: 0px;
      content: '';
      background: url('../images/tujiaguang.png') no-repeat center center;
      background-size: 100% 100%;
      transform: translate3d(0, 0, 0);

    }

    span {
      z-index: 1000;
      background: #DF5028;
      border-radius: 24px;
      font-family: PingFang-SC-Bold;
      font-size: 25px;
      color: #FFFFFF;
      line-height: 40px;
      text-align: center;
      width: 115px;
      height: 40px;
      position: relative;
      display: block;
      margin: 0 auto;
      top: 100px;

      &::after {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: -65px;
        left: 20px;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: 50px 45px;
        background-color: #DF5028;
        background-position: center center;
        background-image: url(../images/tujiazys.png);
        border-radius: 50%;
      }
    }
  }

  .keyshow {

    &::after {
      animation: guangshow 800ms 2;
    }

    span {
      &::after {
        animation: keyshow 40ms 40;
      }
    }
  }

  a:nth-of-type(1) {
    top: 72px;
    left: 159px;
  }

  a:nth-of-type(2) {
    top: 300px;
    left: 80px;
  }

  a:nth-of-type(3) {
    bottom: 80px;
    left: 105px;
  }

  a:nth-of-type(4) {
    bottom: 145px;
    left: 345px;
  }

  a:nth-of-type(5) {
    bottom: 225px;
    right: 0;
  }

  a:nth-of-type(6) {
    top: 85px;
    right: 40px;
  }
}
