/*
 * @Author: yanghognxuan
 * @Date: 2018-12-10 11:26:19
 * @LastEditors: yanghognxuan
 * @LastEditTime: 2018-12-10 11:27:32
 * @Description: 重置浏览器
 */
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

button {
  outline: none;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
input,
label,
button {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
}
