<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
  <div class="content">
      {{{header}}}
      {{{mainnav}}}
    <div class="seeletter_cont content80">
      <div class="suggest_title">
        <h3>
          <img src="../../common/images/portal/public.png" alt="" />
          <span class="third">建议公开</span>
        </h3>
      </div>
      <div class="matter banner_box">
      </div>
      <div class="reply banner_box">
      </div>
    </div>
    {{{footer}}}
  </div>
  <div id="ace">
    <div class="box"></div>
    <div id="myCarousel" class="carousel slide">
      <!-- 轮播（Carousel）指标 -->
      <ol class="carousel-indicators">
      </ol>
      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner">
        <div class="item">
          <img class="thumbnail_1" src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1513170927877&amp;di=910b9edd0218f59da0c4a868943fb4d1&amp;imgtype=0&amp;src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2Fb151f8198618367a15337f1727738bd4b21ce546.jpg"
            alt="" />
        </div>
      </div>
      <!-- 轮播（Carousel）导航 -->
      <a class=" left" href="#myCarousel" data-slide="prev">
        <img src="../../common/images/portal/larrow.png" alt="" class="larrow" /> </a>
      <a class=" right" href="#myCarousel" data-slide="next">
        <img src="../../common/images/portal/rarrow.png" alt="" class="rarrow" /> </a>
      <a class="close_icon" href="javascript:;">
        <img src="../../common/images/portal/close.png" alt="" /> </a>
    </div>
  </div>
</body>

</html>